.primary {
    border: 0;
    border-radius: 4px;
    height: 35px;
    width: 120px;
    background-color: tomato;
    cursor: pointer;
    box-shadow: 4px 3px 2px rgba(0, 0, 0, 0.349);
    transition: 0.6s;

    opacity: 1;

    span {
        color: white;
        font-weight: bold;
        font-size: 16px;

    }
}

.primary:hover {
    transform: scale(1, 0.95);
    transition: 0.6s;
    opacity: 0.5;
    box-shadow: none;
}