section {
    display: grid;
    grid-template-areas: 'info-1 info-2'
        'calc calc';
    grid-gap: 15px;
    padding: 10px;
}

h1 {
    font-size: 25px;
    color: rgba(0, 0, 0, 0.6)
}

.info-1 {
    grid-area: info-1;
    min-height: 500px;
    max-height: 650px;
    height: 100%;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.514);
    box-shadow: 8px 4px 8px rgba(15, 15, 15, 0.185);
}

.info-2 {
    grid-area: info-2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;

    div {
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 0.514);
        box-shadow: 8px 4px 8px rgba(15, 15, 15, 0.185);
    }
}

.calc {
    grid-area: calc;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.514);
    box-shadow: 8px 4px 8px rgba(15, 15, 15, 0.185);
    height: 350px;
    padding: 20px;
}

.form {
    margin-top: 20px;
    display: grid;
    grid-gap: 5px;
}

.input-text {

    height: 30px;
    border: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.233);
    transition: 0.4s;

}

input:hover {
    transition: 0.4s;
    transform: scale(1, 1.05);
    box-shadow: none;
}

.objective {
    display: flex;
    justify-content: space-between;

    .item {
        align-items: center;
        padding: 5px;
        cursor: pointer;
        height: 20px;
        border-radius: 4px;
        background-color: white;
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.233);
        transition: 0.4s;
        transition: 0.6s;
    }

    .item-activited {
        align-items: center;
        cursor: pointer;
        padding: 5px;
        height: 20px;
        border-radius: 4px;
        box-shadow: none;
        transition: 0.6s;
        transition: 0.4s;
        background-color: rgb(163, 162, 162);
    }

    .item:hover {
        transform: scale(1, 0.95);
        transition: 0.6s;
        opacity: 0.5;
        box-shadow: none;
    }

    .item-activited:hover {
        transform: scale(1, 0.95);
        transition: 0.6s;
        opacity: 0.5;
        box-shadow: none;
    }
}