<nutri-header></nutri-header>

<section>
    <div class="info-1">
        1
    </div>
    <div class="info-2">
        <div></div>
        <div></div>
    </div>
    <div class="calc">
        <div class="form">
            <input class="input-text" placeholder="Idade" />
            <input class="input-text" placeholder="Peso" />
            <input class="input-text" placeholder="Sexo" />
            <input class="input-text" placeholder="Nivel de atividade" />
            <ul class="objective">
                <div class="item" [ngClass]="{'item-activited': objetive === 1}" (click)="objetive=1">
                    Manter Peso
                </div>
                <div class="item" [ngClass]="{'item-activited': objetive === 2}" (click)="objetive=2">
                    Perder Peso
                </div>
                <div class="item" [ngClass]="{'item-activited': objetive === 3}" (click)="objetive=3">
                    Ganhar Peso
                </div>
            </ul>
            <div style="text-align: center;">
                <nutri-buttons title="Calcular"></nutri-buttons>
            </div>
        </div>
        Resultado
    </div>
</section>