.wrapper {
    height: 40px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}

span {
    color: #000000;
    transition: 0.6s;
    cursor: pointer
}

span:hover {
    transform: scale(1.1);
    transition: 0.6s;
}