/* You can add global styles to this file, and also import other style files */
body {
    @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');
    font-family: 'Fira Code', monospace;
    overflow: auto;
    padding: 0;
    margin: 0;


    background-image: linear-gradient(20deg, #ffafbd, #ffc3a0);
}